<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Site</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
</head>
<body>
    <div class="container">
        <h1>DocuMind AI</h1>
        <h3>Intelligent Document Analysis & Question Answering</h3>
        <div class="button-group">
            <a href="{{url_for('login')}}" class="button login-button">Login</a>
            <a href="{{url_for('register')}}" class="button register-button">Register</a>
        </div>
    </div>
    
    <!--<div id="snowflakes"></div>--> <!-- Snowflakes container -->
    <script src="{{url_for('static',filename='script.js')}}"></script>

<script id="messenger-widget-b" src="https://cdn.botpenguin.com/website-bot.js" 
defer>67da449f03801d843895f8ce,67da445bca3b2ec580df7b96
</script>

</body>

</html>
